<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= title %></title>
</head>
<body>

  <header>
    <h1>Lacey Rahmani Photography</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>|
        <li><a href="/portfolio">Portfolio</a></li>|
    <li><a href ="/contact">Contact<a></li>|
        <!-- Additional navigation items can be added here -->
        <li><a href="/clientLogin">Client Login</a></li>
      </ul>
    </nav>
  </header>
  <section id="gallery">
    <!-- Portfolio images will go here -->
  </section>

  <footer>
    <p>&copy; <%= new Date().getFullYear() %> Lacey Rahmani Photography</p>
  </footer>

</body>
</html>

