<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= title %></title>
</head>
<body>

  <header>
    <h1>Creative Bursts Photography</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
    <li><a href ="/contact">Contact<a></li>
        <!-- Additional navigation items can be added here -->
        <li><a href="/clientLogin">Client Login</a></li>
      </ul>
    </nav>
  </header>
  <section id="gallery">
    <!-- Portfolio images will go here -->
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const spinner = document.getElementById('spinner');
      
      // Hide spinner on page load
      window.addEventListener('load', function() {
        spinner.style.display = 'none';
      });
  
      // Show spinner on link click
      document.querySelectorAll('a').forEach(item => {
        item.addEventListener('click', function(e) {
          spinner.style.display = 'flex';
    // Delay navigation and hide spinner
    setTimeout(() => {
            window.location.href = href; // Redirect after the delay
          }, 100000); // Delay duration in milliseconds (e.g., 2000ms = 2 seconds)
  
        });
      });
    });
  </script>

  <footer>
    <p>&copy; <%= new Date().getFullYear() %> Creative Bursts Photography</p>
  </footer>

</body>
</html>

